<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="shortcut icon" href="../static/img/environment_120736.ico" type="image/x-icon">
  <title>Глобальное потепление</title>
</head>
<body>
  <header class="header">
    <div class="header__text">
      <h1>Узнай, что такое глобальное потепление и</h1>
      <p>Чем ты можешь помочь?</p>
    </div>
  </header>
  <main>
    {% block content %}
    <h3 class="main__title"><h3>Глобальное потепление</h3>долгосрочное повышение средней температуры климатической системы Земли, происходящее уже более века, основной причиной чего, по мнению подавляющего большинства учёных, является человеческая деятельность (антропогенный фактор).


      Повышение температуры поверхности Земли с конца 19 века
      Начиная с 1850 года, в десятилетнем масштабе температура воздуха в каждое десятилетие была выше, чем в любое предшествующее десятилетие. С 1750—1800 годов человек ответственен за повышение средней глобальной температуры на 0,8—1,2 °C. Вероятная величина дальнейшего роста температуры на протяжении XXI века на основе климатических моделей составляет 0,3—1,7 °C для минимального сценария эмиссии парниковых газов, 2,6—4,8 °C — для сценария максимальной эмиссии.
      
      Последствия глобального потепления включают повышение уровня моря, региональные изменения осадков, более частые экстремальные погодные явления, такие как жара и расширение пустынь. Как указывается на сайте ООН, существуют тревожные свидетельства того, что превышение пороговых показателей, ведущее к необратимым изменениям в экосистемах и климатической системе нашей планеты, уже произошло.</h2>
      <br><br><br><br><ul class="list">
        <li class="list__item">
          <a href="http://127.0.0.1:5000/">
            <h2>На главную</h2></a>
        </li>
    {% endblock %}
  </main>
  <footer>

  </footer>
</body>
</html>
